[data-row] {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  margin: 25px;
  border: 1px solid lightgray;
}

#rowContainers {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  border: 10px solid black;
}

.row {
  /* z-index: -10; */
  display: flex;
  flex-direction: column-reverse;
  height: 200px;
  width: 5px;
  background-color: brown;
}

[data-row].red {
  background-color: #f6c5c5;
}

[data-row].yellow {
  background-color: #ffffa9;
}

/* [data-row].green {
  background-color: #baf6ba;
} */

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  z-index: 10;
}

[data-color] {
  width: 25px;
  float: left;
}

[data-color="blue"] {
  height: 33px;
  background-color: blue;
}

[data-color="green"] {
  height: 33px;
  background-color: green;
}

[data-color="red"] {
  height: 33px;
  background-color: red;
}

[data-color="yellow"] {
  height: 33px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}


#four {
  width: 50px;
}